@import "./docsearch.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-feature-settings: "ss04";
  }

  .hover-effect,
  .hover-effect .arrow {
    transition-duration: 280ms !important;
  }

  .hover-effect:hover .arrow {
    transform: translateX(0.5rem);
  }
}

@layer utilities {
  .fade-mask {
    mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), transparent 100%);
  }

  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute inline-flex h-10 w-10 items-center justify-center rounded-full border border-surface-100 bg-white font-sans text-sm font-medium text-surface-900 ring-4 ring-white;
    @apply ml-[-52px];
    content: counter(step);
  }
}

@font-face {
  font-family: 'IBM Plex Arabic';
  src: url('/fonts/IBMPlexSansArabic-Thin.ttf') format('truetype');
  font-weight: 100 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'IBM Plex Arabic';
  src: url('/fonts/IBMPlexSansArabic-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'IBM Plex Arabic';
  src: url('/fonts/IBMPlexSansArabic-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'IBM Plex Arabic';
  src: url('/fonts/IBMPlexSansArabic-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'IBM Plex Arabic';
  src: url('/fonts/IBMPlexSansArabic-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'IBM Plex Arabic';
  src: url('/fonts/IBMPlexSansArabic-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'IBM Plex Arabic';
  src: url('/fonts/IBMPlexSansArabic-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-sans: 'Inter', ui-sans-serif, system-ui, -apple-system;
}

[lang="ar"], [dir="rtl"] {
  --font-sans: 'IBM Plex Arabic', ui-sans-serif, system-ui, -apple-system;
}
